{% extends 'shared/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container-fluid" id="demo-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Demos</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ok7IcXYbvwE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
