{% extends 'shared/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}

<div id="welcome-section">
  <div class="d-block">
    <div>
      <div id="welcome-nav-container">
        <a target="_blank" href="https://github.com/mcm66103"><i class="fab fa-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/maverick-moore-28957214a/"><i class="fab fa-linkedin"></i></a>
        <a target="_blank" href="https://www.instagram.com/maverick_650"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div>
      <h1>Maverick Moore | Full-Stack Developer</h1>
      <p><i class="fas fa-globe-americas"></i> Atlanta, Ga.</p>
      <a href="/">Technical Demo <i class="fas fa-laptop-code"></i></a>
    </div>
  </div>
</div>

{% endblock %}
