{% extends 'shared/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}

<div id="welcome-section">
  <div class="d-block">
    <!-- pseudo header -->
    <div>
      <div id="welcome-nav-container">
        <i class="fab fa-github"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
    <!-- hero copy -->
    <div>
      <h1>Maverick Moore | Full-Stack Developer</h1>
      <p><i class="fas fa-globe-americas"></i> Atlanta, Ga.</p>
    </div>
  </div>
</div>

{% endblock %}
