{% extends 'shared/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}

<div id="welcome-section">
  <div class="d-block">
    <div>
      <div id="welcome-nav-container">
        <a target="_blank" href="https://github.com/mcm66103"><i class="fab fa-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/maverick-moore-28957214a/"><i class="fab fa-linkedin"></i></a>
        <a target="_blank" href="https://www.instagram.com/maverick_650"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div>
      <h1>Maverick Moore | Full-Stack Developer</h1>
      <p><i class="fas fa-globe-americas"></i> Atlanta, Ga.</p>
      <a target="_blank" href="/demo">Technical Demo <i class="fas fa-laptop-code"></i></a>
    </div>
  </div>
</div>

<div id="experience-section">
  <div>
    <div>
      <h2>My Experience</h2>
    </div>
    <div>
      <div>
        <h3>Front End Developer</h3>
        <h4>at NXTsoft</h4>
        <p>HTML, SASS, Javascript, Ruby on Rails, Hubspot API</p>

        <h3>Software Engineer</h3>
        <h4>at Rocket Reference</h4>
        <p>Javascript, React, Python, Django, SQL, SMS API (Twilio)</p>

        <h3>Full Stack Developer</h3>
        <h4>at Kinetic Ink</h4>
        <p>Wordpress, HTML, SASS, Javascript, Python, Django, SQL</p>


        <h3>Digital Strategist & Developer</h3>
        <h4>Freelance</h4>
        <p>Mostly Wordpress, SEO research</p>
      </div>
    </div>
  </div>
</div>

<div id="about-section">
  <div>
    <div>
      <div>
        <h2>About Maverick</h2>
      </div>
      <div>
        <p>Maverick Moore is a full stack developer based in Atlanta Georiga. He
          enjoys building software using modern web technologies including Django
          (Python) and React (JavaScript). He isn’t very picky though; he likes
          the challenge of learning something new and keeping up with web development
          trends.</p>

        <p>From the beginning, Maverick has had a strong work ethic and a natural
          curiosity for all aspects of business but especially for marketing and
          digital presence. He built an online community for photographers and created
          a photo contest platform to boost engagement. It was a lot of work, but
          Maverick thinks work is fun; he is probably hunched over his laptop in
          some coffee shop, nose deep in documentation, doing his job or dreaming
          up another million dollar idea.</p>

        <p>He is especially interested in IoT, HR Tech, SMS applications,
          and marketing automation.</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
