#welcome-section {
  @extend .container-fluid;
  @extend %green-gradient-bg;

  height: 80vh;
  min-height: 360px;

  & > div {
    @extend .row;
    @extend .h-100;


    & > div:nth-child(1){
      @extend .col-11;
      @extend .d-flex;
      @extend .justify-content-end;
      @extend .pt-4;

      #welcome-nav-container{
        @extend %button-multi;

        i{
          @extend .px-2;
        }
      }
    }

    & > div:nth-child(2){
      @extend .offset-1;
      @extend .col-10;
      @extend .align-self-center;

      position: relative;
      top: 25vh;

      h1 {
        @extend .mb-1;
        color: $white;
      }

      p {
        @extend .mb-4;
      }

      a {
        @extend %button-tiny;
      }


    }
  }
}

#experience-section {
  @extend .container-fluid;

  & > div {
    @extend .row;

    & > div:nth-child(1){
      @extend .col-12;
      @extend .col-md-6;

      background-color: $gray-800;

      h2 {
        @extend .my-5;

        text-align: center;
        position: sticky;
        top: 30vh;
        color:$white;
      }
    }

    & > div:nth-child(2){
      @extend .col-12;
      @extend .col-md-6;

      & > div {
        @extend .p-5;
      }

      h3 {
        color:$gray-900;
      }

      h4 {
        @extend .pb-3;
        font-size: .8em;
      }

      p {
        margin-bottom: 90px;
      }
    }
  }
}
